.about{
    min-height: 100vh;
    background: #cacbcb;
    clip-path: polygon(0 13%, 100% 0, 100% 100%, 0% 100%);
    color: rgba(255, 255, 255, 1);
    justify-content: center;
    display: flex;
}
h1{
    font-size: 60px;
}
.about-content{
    display: flex;
    padding: 180px 60px;
    color:black;
}
.rick-pic{
    align-self: start;
    /*background-image: url('/src/assets/mls-rick1.png');*/
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    margin-right:100px;
    transform: scale(0.5);
    /*max-width: 500px;*/
    /*margin:auto;*/
}
.about-text{
    /*align-self: end;*/
    text-align: start;
   align-self: start;
    font-size: 27px;
}

p.quote{
    font-family: 'Yellowtail', cursive;
    margin-right: 20px;
}

.about-background{
    /*width: 500px;*/
    /*background: red;*/
    overflow-x:hidden;
    /*align-self: end;*/
    /*transform: translate(0px,0px);*/
    margin-left: 80px;
    justify-content: center;
}

.svg-1{
    /*background: red;*/
    animation: spin 8s linear infinite;
    -webkit-animation: spin 8s linear infinite;
    /*-webkit-transform-origin: 50% 50%;*/
    /*-moz-transform-origin: 50% 50%;*/
    /*-o-transform-origin: 50% 50%;*/
    /*-webkit-transform: translate(-100px,0px);*/
    /*transform: translate(-100px,0px);*/
    transform-origin: 50% 50%;}

@-webkit-keyframes spin {
    0%   {-webkit-transform: rotate(0deg);}

    100% {-webkit-transform: rotate(360deg);}
}
@keyframes spin {
    0%   {transform: rotate(0deg);}

    100% {transform: rotate(360deg);}
}