.intro {
    /*margin-left: 20px;*/
    min-height: 100vh;
    /*background: linear-gradient(180deg ,#181717,#0d4058);*/

    color: rgba(255, 255, 255, 1);
    justify-content: start;
    display: flex;
}

.intro-content {
    margin: 50px;
    display: flex;
    overflow: hidden;
}

.text-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    /*transition: opacity 2s;*/
    /*-webkit-transition: opacity 2s; !* Safari *!*/
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /*animation-timing-function: cubic-bezier(1,2,3,4);*/
}
img {
    image-rendering: pixelated;
}
.img-content {
    width: 500px;
    height: 500px;
    /*margin-left:10%;*/
    transform: scale(0.5);
    background-image: url('/src/assets/mls-removebg-preview.png');
    align-self: center;
    animation: appear ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    filter: grayscale(50);
    /*flex:1 0 0;*/
    /*filter: sepia() url(#gaussian-blur)*/
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translate(0, -150px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}
@keyframes appear {
    0% {
        opacity: 0;
        /*transform: translate(0, -150px);*/
    }
    100% {
        opacity: 1;
        /*transform: translate(0, 0);*/
    }
}
.intro h1 {
    background-image: url(https://cdn.dribbble.com/users/707385/screenshots/5472252/19_3_1.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    line-height: 1;
    font-size: 80px;
    margin: 0;
    text-align: left;
    width: 290px;
}
h1.name{
    font-family: 'Yellowtail', cursive;
}

h2 {
    margin-top: 10px;
}

h3 {
    margin-top: 0;
}

h4 {
    margin-bottom: 10px;
}

.left-column-intro{
    display: flex;
    flex: 0 0 20em;
}

.svg-binary{
    /*background: red;*/
    /*position: absolute;*/

    animation: spin 8s linear infinite;
    -webkit-animation: spin 8s linear infinite;
    /*-webkit-transform-origin: 50% 50%;*/
    /*-moz-transform-origin: 50% 50%;*/
    /*-o-transform-origin: 50% 50%;*/
    /*-webkit-transform: translate(-100px,0px);*/
    /*transform: translate(-100px,0px);*/
    transform-origin: 50% 50%;
}

@-webkit-keyframes spin {
    0%   {-webkit-transform: translate(0);}

    100% {-webkit-transform: translate(100);}
}
@keyframes spin {
    0%   {transform: translate(0);}

    100% {transform: translate(100);}
}

@media (min-width: 200px) and (max-width: 768px) {
    .left-column-intro {
        display: flex;
        flex: 0 0 0;
    }
    .about-background {
        overflow: hidden;
        margin-left: 10px;
    }
    .img-content {
        width: 500px;
        height: 500px;
        /*margin-left:10%;*/
        transform: scale(0.4);
        background-image: url('/src/assets/mls-removebg-preview.png');
        align-self: center;
        animation: appear ease 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        filter: grayscale(50);
        /*filter: sepia() url(#gaussian-blur)*/
    }
    .intro-content {
         margin: 50px;
         display: flex;
         overflow: hidden;
         flex-direction: column;
     }
    .text-content{
        margin-top: 20px;
    }
}


@media (min-width:768px) and (max-width: 1300px) {

    .left-column-intro {
        display: flex;
        flex: 0 0 10em;
    }

}